%h2 Register
.p If you're a non-profit organization in San Francisco District 6, click below to register.
= link_to 'Register organization', org_register_path

.p If you're looking for a volunteer opportunity in District 6 non-profits, click below to register.
= link_to 'Register volunteer', volunteer_register_path