%p Hi #{@user.name}!

%p Welcome to It's Your District! We're very happy to have you on board.

%p You now have an account with It's Your District registered for this e-mail. Click here to set a password:
%p= link_to @user.reset_url, @user.reset_url


%p Please reach out to us if you have any questions!

%p Thank you!