%p Hi #{@user.name}!

%p Welcome to It's Your District! We're very happy to have you on board.

%p Be sure to follow us on Twitter @Itsyourdistrict, and like us on Facebook to stay up to date with all events and opportunities in your district!

%p Please reach out to us if you have any questions!

%p Thank you!

%p The It's Your District family