#wufoo-mabxluo03t6is3
  Fill out my
  = link_to 'online form', 'https://itsyourdistrict.wufoo.com/forms/mabxluo03t6is3'

:javascript
  var mabxluo03t6is3;(function(d, t) {
  var s = d.createElement(t), options = {
  'userName':'itsyourdistrict', 
  'formHash':'mabxluo03t6is3', 
  'autoResize':true,
  'height':'1841',
  'async':true,
  'host':'wufoo.com',
  'header':'show', 
  'ssl':true};
  s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
  s.onload = s.onreadystatechange = function() {
  var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
  try { mabxluo03t6is3 = new WufooForm();mabxluo03t6is3.initialize(options);mabxluo03t6is3.display(); } catch (e) {}};
  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
  })(document, 'script');