%h1 About Us

#banner

%p 
  It’s Your District was organized exclusively for charitable and educational purposes. Specifically, 
  itsyourdistrict.org is a website created to provide equal visibility and resources to all nonprofits in the district 
  no matter what size they are or what they do, as long as they are beneficial to the community. 

%p 
  There is a lack of communication and information among community members and organizations.  Bridging this gap can 
  be accomplished by maintaining an accessible, accurate and up to date database of community organizations, 
  non-profits, and events; by contacting and actively recruiting volunteers from each district, neighboring 
  universities and high schools, and connecting local businesses to community organizations within their neighborhood.

%p 
  Acting as a neutral agent, we allow equal exposure and opportunity for all organizations to promote themselves and 
  see what each other is doing; we encourage collaboration rather than competition, and provide real stakeholder 
  engagement. The site also allows organizations to observe and communicate with each other, to potentially work 
  with each other and share resources. IYD can offer social media publicity, long-term volunteer recruitment, event 
  sharing, and maintain an internet presence amongst their peers.