- content_for(:header) do
  %header.landing
    .container
      %ul{class: current_user.nil? ? '' : 'logged-in'}
        %li.fb= link_to 'Visit us on Facebook!', 'https://www.facebook.com/itsyourdistrict', target: '_blank'      
        / %li.logout= link_to 'Logout', logout_path, method: :delete, remote: true
        / %li.login= link_to 'Login', login_path, remote: true
        / %li.register= link_to 'Register', org_path, remote: true
        / %li.org-link
        /   %a
        /     %span>= current_user.nil? ? '' : current_user.name
        /     's Page
        .clear
    #action
      .logo It's Your District
      .text
        %h1.white Connecting non-profits in San Francisco District 6.
        = link_to 'Sign up now!', org_path, class: [:register, :btn, :large], remote: true

#tags.center
  .tag.all.selected ALL
  - for tag in @tags
    .tag>= tag.name

#main.landing
  .row{:'data-row' => 0}
    .tile.loading.large
      .cover.large
        %a.title Title
      .org-info
        %p.summary
        .center
          %a.btn.info More Info
          = link_to 'Contact', '', remote: true, class: [:btn, :contact]
  .row.template{:'data-row' => 0}
    .tile.col-1-2.loading
      .cover.small
        %a.title.info Title
      .org-info
        %p
          %span.summary
          %a Learn more...
    .tile.col-1-2.last-col.loading
      .cover.small
        %a.title.info Title
      .org-info
        %p
          %span.summary
          %a Learn more...
    .clear
  .clear