%div{style: 'width: 500px; height:500px; margin: 0px auto 0 auto;'}
  .center{style: 'position:relative;'}
    = image_tag 'logo-01.png', :alt => 'IYD'
    %p{style: 'margin: 40px 0; padding:40px; background-color:white;'} 
      %strong
        itsyourdistrict.org
      is a comprehensive database that provides a platform |
      for people seeking to serve their community. Community conscious neighbors |
      and organizations can network, advocate, and connect with like-minded |
      groups and individuals in San Francisco's District 6.
      %br
      %br
      %br
      = link_to 'TELL US ABOUT YOUR ORGANIZATION', 'https://itsyourdistrict.wufoo.com/forms/its-your-district/', target: '_blank', class: :btn