.btn, .tag {
  display: inline-block;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  @include transition(background-color 0.25s linear);
  @include user-select-none;
}

.btn {
  min-width: 100px;
  background-color: $red;
  padding: 10px 20px;
  &:hover {
    background-color: darken($red, 10%);
  }
  &.large {
    min-width: 150px;
    padding: 15px 30px;
  }
  &.small {
    min-width: 80px;
    padding: 5px 10px;
  }
  &.gray {
    background-color: $darkGray;
    &:hover {
      background-color: $textGray;
    }
  }
}

.tag {
  min-width: 60px;
  background-color: $gray;
  margin: 4px;
  padding: 4px 8px;
  &:hover {
    background-color: darken($gray, 10%);
  }
  &.selected {
    background-color: $darkGray;
    cursor: default;
  }
  
}