$formElementHeight: 40px;

input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea, .select {
  -webkit-appearance: none;
  width: 350px;
  height: $formElementHeight;
  padding: 0 10px;
  outline: none;
  border: 2px solid $lightGray;
  border-radius: 2px;
   background-color: #fff;
  -webkit-appearance: none;
  font-family: inherit;
  color: inherit;
  @include placeholder($gray);
  &:focus {
    border-color: $blue;
  }
  &.error {
    border-color: $red;
  }
}
textarea {
  height: 80px;
  padding: 5px;
  &.large {
    height: 160px;
  }
}
input[type="checkbox"] {
  position: relative;
  top: -1px;
}
input[type="checkbox"], input[type="radio"] {
  margin-right: 5px;
  cursor: pointer;
}
input[type="file"] {
  display: none;
}
label {
  display: inline-block;
  width: 250px;
  height: $formElementHeight;
  line-height: $formElementHeight;
  vertical-align: top;
}

.select {
  display: inline-block;
  line-height: $formElementHeight - 4px;
  cursor: pointer;
  position: relative;
  &.open {
    i.fa-caret-down { display: none; }
    i.fa-caret-up { display: block; }
    ul {
      max-height: 400px;
    }
  }
  i.fa-caret-down { display: block; }
  i.fa-caret-up { display: none; }
  i {
    color: $gray;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .select-title {
    .default {
      color: $gray;
    }
    .caret {
      font-size: 0.7em;
      float: right;
    }
  }
  ul {
    max-height: 0;
    z-index: 10;
    position: absolute;
    top: 100%;
    left: -2px;
    right: -2px;
    overflow-y: scroll;
    line-height: 1em;
    background-color: inherit;
    border: 2px solid $lightGray;
    border-top: none;
    @include transition(max-height 0.25s linear);
    li {
      padding: 8px 10px;
      &.none-selected {
        color: $lightGray;
      }
      &:hover {
        background-color: $lightGray;
      }
    }
  }
}

.form-row {
  clear: both;
  margin-bottom: 20px;
  .note {
    margin-left: 255px;
  }
  &.single {
    input, .select {
      width: 380px;
    }
  }
  &.half {
    input, .select {
      width: 180px;
      &:first-child {
        margin-right: 16px;
      }
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
  .btn {
    position: relative;
    top: 4px;
  }
  .tag-check {
    display: inline-block;
    font-size: 0.8em;
  }
  .form-link {
    display: inline-block;
    height: $formElementHeight;
    line-height: $formElementHeight;
  }
  .field_with_errors {
    display: inline-block;
    .note {
      margin-left: 0;
    }
  }
}
.form-submit {
  display: block;
  clear: both;
  width: 300px;
  margin: $formElementHeight auto 0 auto;
  text-align: center;
}


