$formElementHeight: 40px;

input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea, .form-select, select {
  -webkit-appearance: none;
  width: 350px;
  height: $formElementHeight;
  padding: 0 10px;
  outline: none;
  border: 2px solid $lightGray;
  border-radius: 2px;
  background-color: #ffe;
  -webkit-appearance: none;
  font-family: inherit;
  color: inherit;
  @include placeholder($gray);
  &:focus {
    border-color: $blue;
  }
  &.error {
    border-color: $red;
  }
}
textarea {
  height: 80px;
  padding: 5px;
  &.large {
    height: 160px;
  }
}
input[type="checkbox"] {
  position: relative;
  top: -1px;
}
input[type="checkbox"], input[type="radio"] {
  margin-right: 5px;
  cursor: pointer;
}
input[type="file"] {
  display: none;
}
label {
  display: inline-block;
  width: 250px;
  height: $formElementHeight;
  line-height: $formElementHeight;
  vertical-align: top;
}
.form-select {
  line-height: $formElementHeight;
  cursor: pointer;
  position: relative;
  .select-title {
    .default {
      color: $gray;
    }
    .caret {
      font-size: 0.7em;
      float: right;
    }
  }
  ul {
    display: none;
    z-index: 10;
    position: absolute;
    top: 34px;
    left: -1px;
    width: inherit;
    max-height: 200px;
    overflow: scroll;
    line-height: 1em;
    background-color: #fcfcfc;
    border: 1px solid #d6d6d6;
    li {
      padding: 8px 10px;
      &.none-selected {
        color: $gray;
      }
      &:hover {
        background-color: #d6d6d6;
      }
    }
  }
}

.form-row {
  clear: both;
  margin-bottom: 20px;
  .note, .error {
    margin-left: 255px;
  }
  &.single {
    input, .form-select {
      width: 380px;
    }
  }
  &.half {
    input, .form-select {
      width: 180px;
      &:first-child {
        margin-right: 16px;
      }
    }
  }
  &.third-first {
    input:first-child, .form-select:first-child {
      width: 120px;
      margin-right: 16px;
    }
    input:last-child, .form-select:last-child {
      width: 2$formElementHeight;
    }
  }
  &.third-last {
    input:first-child, .form-select:first-child {
      width: 2$formElementHeight;
      margin-right: 16px;
    }
    input:last-child, .form-select:last-child {
      width: 120px;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
  .btn {
    position: relative;
    top: 4px;
  }
  .tag-check {
    display: inline-block;
    font-size: 0.8em;
  }
  .form-link {
    display: inline-block;
    height: $formElementHeight;
    line-height: $formElementHeight;
  }
}
.form-submit {
  display: block;
  clear: both;
  width: 300px;
  margin: $formElementHeight auto 0 auto;
  text-align: center;
}


