header.landing {
   background: transparent url(image_path('crowd-blur.jpg')) no-repeat scroll center center;
   @include background-cover;
  background-color: $gray;
  ul.nav li:first-child {
    margin-left: -20px;
  }
}

#action {
  padding: 20px 0 50px 0;
  .logo {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: transparent url(image_path('logo-action.png')) no-repeat scroll center center;
    background-size: 200px 200px;
    overflow: hidden;
    text-indent: -9999px;
  }
  .text {
    display: inline-block;
    max-width: 500px;
    margin-top: 10px;
    vertical-align: top;
  }
  .register {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.15);
  }
}

.cover {
  position: relative;
  width: 100%;
  background: $lightGray url(image_path('loading.gif')) no-repeat scroll center center;
  @include background-cover;
  .title {
    position: absolute;
    left: 0;
    margin: 15px;
    padding: 10px;
    background-color: rgba(255,255,255,0.9);
    .name {
      color: $textGray;
      text-transform: uppercase;
    }
    .location {
      color: $darkGray;
      font-style: italic;
    }
  }
  .tags {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px;
    li {
      float: left;
    }
  }
  &.large {
    height: 300px;
  }
  &.small {
    height: 200px;
  }
}

p.none {
  display: none;
  margin-top: 40px;
}

.row {
  padding-top: 20px;
  border-top: 2px solid $lightGray;
  &.top {
    border-top: none;
  }
}

.tile {
  &.loading {
    .cover {
      background-size: auto;
    }
    .title, .org-info p, .org-info a.btn {
      display: none;
    }
  }
  .btn.info {
    margin-right: 20px;
  }
}

.org-info {
  min-height: 100px;
  padding: 20px 0;
  p {
    margin: 0;
    &.summary {
      margin-bottom: 20px;
    }
  }
  h3 {
    margin-bottom: 20px;
  }
  ul {
    li {
      margin-bottom: 5px;
    }
  }
}

#controls {
  .field {
    display: inline-block;
    position: relative;
    width: 250px;
    margin: 10px;
    text-align: left;
    &#search {
      .icon {
        padding-top: 6px;
        background-color: $lightGray;
      }
    }
    input, .select {
      width: 100%;
    }
    .icon {
      color: $gray;
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      width: 40px;
      cursor: pointer;
      text-align: center;
    }
  }
}





