header.landing {
   background: transparent url(image_path('crowd-blur.jpg')) no-repeat scroll center center;
   @include background-cover;
  background-color: $gray;
  ul.nav li:first-child {
    margin-left: -20px;
  }
  ul.nav li.donate {
    display: none;
  }
}

#action {
  padding: 20px 0 50px 0;
  .logo {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: transparent url(image_path('logo-action.png')) no-repeat scroll center center;
    background-size: 200px 200px;
    overflow: hidden;
    text-indent: -9999px;
  }
  .text {
    display: inline-block;
    max-width: 500px;
    margin-top: 10px;
    vertical-align: top;
  }
  .btn {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    &.donate {
      margin-left: 20px;
    }
  }
}

.cover {
  position: relative;
  width: 100%;
  background: $lightGray url(image_path('loading.gif')) no-repeat scroll center center;
  @include background-cover;
  a.title:hover {
      background-color: white;
  }
  .title {
    position: absolute;
    left: 0;
    top: 0;
    margin: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    .name {
      color: $textGray;
      text-transform: uppercase;
    }
    .location {
      color: $darkGray;
      font-style: italic;
      font-size: 0.9em;
    }
  }
  .tags {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px;
    li {
      float: left;
    }
  }
  &.large {
    height: 300px;
  }
  &.small {
    height: 200px;
  }
}

p.none {
  display: none;
  margin-top: 40px;
}

.row {
  padding-top: 20px;
  border-top: 1px solid $lightGray;
  &.top {
    border-top: none;
  }
}





