/* SIZING VARIABLES */

$pageWidth: 960px;
$headerHeight: 75px;
$footerHeight: 50px;
$noteHeight: 55px;
$pad: 20px;

/* ELEMENT SPACING */

* {
  @include box-sizing(border-box);
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  background-color: white;
  .container {
    position: relative;
    max-width: $pageWidth;
    margin: auto;
    padding: 0 $pad;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#overlay {
  display: none;
  z-index: 40;
  position: absolute;
  top: 80px;
  left: 50%;
  width: 700px;
  margin: 0 0 60px -350px;
  padding: 40px;
  border: 4px solid $lightGray;
  background-color: white;
  .close {
    z-index: 50;
    position: absolute;
    right: -16px;
    top: -16px;
    width: 32px;
    height: 32px;
    background: transparent url(image_path('close.png')) no-repeat scroll center center;
    background-size: 32px 32px;
    cursor: pointer;
  }
}

header {
  z-index: 20;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  min-height: $headerHeight;
  background-color: $darkGray;
  ul {
    a {
      display: block;
      background-color: transparent;
      color: white;
      &:link, &:visited, &:hover, &:active { color: white; }
    }
  }
  #logo {
    float: left;
    a {
      display: block;
      width: 305px;
      height: $headerHeight;
      margin-left: -20px;
      padding: 12px 20px 0 20px;
      background: transparent url(image_path('logo-header-small.png')) no-repeat scroll center center;
      background-size: 265px 50px;
      overflow: hidden;
      text-indent: -9999px;
    }
  }
  ul.nav {
    &.logged-in {
      li {
        &.register, &.login {
          display: none;
        }
        &.user {
          display: block;
        }
      }
    }
    li {
      float: right;
      &.left {
        float: left;
      }
      &.login {
        margin-right: -20px;
      }
      &.register, &.login {
        display: block;
      }
      &.user {
        display: none;
        i.fa {
          color: $lightGray;
        }
        i.fa-caret-up { 
          display: none; 
        }
        i.fa-caret-down { 
          display: inline; 
        }
        &.selected {
          background-color: $textGray;
          i.fa-caret-up { 
            display: inline; 
          }
          i.fa-caret-down { 
            display: none; 
          }
        }
      }
      &.donate a {
        color: gold;
        font-weight: bold;
      }
      a {
        height: $headerHeight;
        line-height: $headerHeight;
        padding: 0 15px;
        font-size: 0.9em;
        &:hover {
          background-color: $textGray;
        }
      }
    }
  }
  ul#user-menu {
    display: none;
    position: absolute;
    top: $headerHeight;
    right: 20px;
    background-color: $textGray;
    li {
      a {
        padding: 20px 20px;
        &:hover {
          background-color: black;
        }
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 50px;
  line-height: 40px;
  font-size: 0.75em;
  border-top: 1px solid $lightGray;
  background-color: white;
  .copyright {
    float: right;
    color: $gray;
  }
  ul {
    li {
      float: left;
      &:first-child {
        margin-left: -15px;
      }
      a {
        display: block;
        height: $footerHeight;
        padding: 0 15px;
        &:link, &:visited {
          color: $darkGray;
        }
        &:hover {
          color: black;
        }
      }
    }
  }
}

p {
  margin-bottom: 20px;
}

h1 {
  margin: 10px 0 20px 0;
}

blockquote {
  margin-bottom: 30px;
  .source {
    margin-top: 5px;
    text-align: right;
  }
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

.inline {
  display: inline-block;
}

.buffer {
  margin-bottom: 40px;
}

.hide {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* MAIN CONTAINER AND GRID */

#notice {
  margin: -20px 0 20px 0;
  padding: 15px;
  background-color: $lightGray;
}

#content {
  max-width: $pageWidth;
  margin: 0 auto $pad auto;
  padding: 20px $pad ($pad + $footerHeight) $pad;
}

[class*='col-'] {
  float: left;
  padding-right: $pad;
  #content &:last-of-type, #content &.last-col {
    padding-right: 0;
  }
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

.col-3-4 {
  width: 75%;
}

.col-1-8 {
  width: 12.5%;
}