$bodyFontFamily: Roboto, 'Helvetica Neue', helvetica, arial, sans-serif;
$titleFontFamily: Sanchez, Georgia, serif;

body {
  font: normal normal 1.0em/1.4em $bodyFontFamily;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  color: $textGray;
}

h1, h2, h3, h4, h5, h6, .btn, .tag, .cover .title {
  font-family: $titleFontFamily;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: $red;
}

h1, h2 {
  margin-bottom: 40px;
}

h1 {
  font-size: 2em;
  line-height: 1.2em;
}

h2, .cover.large .title .name {
  font-size: 1.5em;
  line-height: 1.2em;
}

h3, .cover.small .title .name {
  font-size: 1.2em;
  line-height: 1.2em;
}

h4 {
  font-size: 1em;
}

h5, .small {
  font-size: 0.8em;
}

h6 {
  font-size: 0.6em;
}

p.large, li.large {
  font-size: 1.2em;
}

footer {
//  font-size: 0.8em;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $blue;
  &:link, &:active, &:visited { color: $blue; }
  &:hover { color: darken($blue, 10%); }
}

a, a h1, a h2, a h3, a h4, a h5, a h6, li, input, textarea, .btn, .tag {
  @include transition(color 0.25s linear, background-color 0.25s linear, border-color 0.25s linear);
}

strong, .highlight {
  font-weight: bold;
  color: $red !important;
}

input, textarea, .dropdown {
  -webkit-font-smoothing: antialiased;
  font: inherit;
  color: inherit;
}

textarea {
  font-size: 0.8em;
}

.note {
  font-size: 0.8em;
  color: $darkGray;
}

.error {
  color: $red;
}

.btn, .tag {
  font-size: 0.8em;
  font-style: italic;
  &.large {
   font-size: 1.2em; 
  }
}

.btn, a.btn, .tag, a.tag, #close-overlay {
  color: white;
}

.white {
  color: white;
}

.gray {
  color: $gray;
}

.light-gray {
  color: $darkGray;
}

hr {
  margin: 0 auto;
  border: 0;
  color: $lightGray;
  background-color: $lightGray;
  height: 2px;
}


