%footer
  .container
    .copyright It's Your District &copy; 2014
    %ul
      %li= link_to 'Facebook', 'https://www.facebook.com/itsyourdistrict', target: '_blank'
      %li= link_to 'Twitter', 'https://twitter.com/itsyourdistrict', target: '_blank'
      %li= link_to 'Contact', contact_path + '?slug=it-s-your-district', remote: true
      .clear