%footer
  .container
    .copyright It's Your District &copy; 2014
    %ul
      %li.rightmost= link_to 'Visit us on Facebook!', 'https://www.facebook.com/itsyourdistrict', target: '_blank' 
      %li= link_to 'Contact', contact_path + '?slug=it-s-your-district', remote: true
      .clear