%footer.main
  .container
    .copyright It's Your District &copy; 2014
    %ul
      - if logged_in?
        %li= link_to 'Logout', logout_path, :method => 'delete'
      - else
        %li= link_to 'Login', login_path
        
      %li &#124;
      %li= link_to 'Contact', "mailto:info@itsyourdistrict.org"