%header
  .container
    %ul
      %li#logo= link_to 'It\'s Your District', root_path
      %li.fb= link_to 'Visit us on Facebook!', 'https://www.facebook.com/itsyourdistrict', target: '_blank'      
          
      .clear